@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --blue: #4673A2;
    --yellow: #FFA552;
    --red: #D05843;
    --white: #FDF2ED;
    --pink: #F7CDBD;
}

body {
    font-family: Libre Baskerville;
    font-size: 16px;
    line-height: 1.5;

    background-color: var(--white);
    color: var(--blue);
    margin: 80px auto 40px auto;
    max-width: 1248px;
}

header {
    grid-column: 4 / span 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

nav {
    margin: 16px 0;
}

nav a {
    font-size: 24px;
    color: var(--yellow);
    text-decoration: none;
    margin: 0 32px;
    transition: all 0.3s;
}

nav a:hover, .selected{
    color: var(--red);
    text-decoration: underline;
    text-underline-offset: 8px;
}

h1, h2, nav, label, button {
    font-family: Josefin Sans;
    font-weight: 500;
    text-transform: uppercase;
}

section, .description, .about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin: 80px auto;
}

section h1 {
    grid-column: 3 / span 8;
    text-align: center;
    font-size: 32px;
    margin-top: 0;
}

.project {
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.artwork {
    width: 100%;
}

.artwork img {
    width: 100%;
    height: auto;
    display: block;
}

.description {
    width: 100%;
    margin-top: 0;
}

.description h2 {
    grid-column: 1 / span 3;
    font-size: 24px;
}

.description p {
    grid-column: 6 / span 12;
    margin-left: 60px;
    font-size: 16px;
}

.about .illustration {
    grid-column: 2 / span 5;
    width: 100%;
    margin: 0;
}

.about .illustration img {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
    display: block;
}

.about .description {
    grid-column: 7 / span 5;
    margin: 0;
    padding: 0;
    display: block;
}

input, textarea {
  width: 100%;
  background-color: #ffffff;
  color: var(--blue);
  border: none;
  padding:  8px 16px;
}

.contact {
    grid-column: 3 / span 9;
    display: flex;
    flex-direction: column;
    margin: 64px 180px;
}

label {
  display:  block;
  margin: 16px 0 16px 0;
}

textarea {
  height: 320px;
}

button {
  background-color: var(--blue);
  color: var(--pink);
  border: none;
  font-size: 24px;
  padding: 15px 64px 8px 64px;
}

input:focus, textarea:focus {
  border: 3px solid var(--pink);
  outline: none;
}

footer {
  display:  flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

footer a {
  margin: 0px 16px 0 16px;
}

@media (max-width: 1248px) {
  body {
    width: auto;
    margin: 80px 64px 48px 64px;
  }
}

@media (max-width: 920px) {
    .about, .contact {
        margin: 32px 0;
        gap: 16px;
    }
    
    header {
    flex-direction: column;
    }

    nav {
    margin: 24px 0 0 0;
    }

    header img {
    max-width: 300px;
    }

    header a {
    margin: 0 16px 0 16px;
    }

    .description h2,
    .description p {
        margin: 0;
        width: auto;
    }

    .about {
        display: flex;
        flex-direction: column;
        grid-column: 1 / span 4;
        width: auto;
    }

    .about .description {
        order: 1;
        text-align: justify;
    }

    .about .description p {
        margin-bottom: 16px;
    }

    .about .illustration {
        order: 2;
    }

    .about .illustration img {
        margin-top: 40px;
        max-height: 300px;
    }
}

@media (max-width: 660px) {
    body {
        margin: 40px 36px;
        max-width: 100%;
    }

    nav a {
        margin: 8px 16px;
        font-size: 20px;
    }

    section {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        width: 100%;
    }

    section h1 {
        grid-column: 1 / span 4;
        font-size: 24px;
        text-align: center;
        margin: 0;
        width: auto;
    }

    .project {
        grid-column: 1 / span 4;
        width: auto;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .artwork, 
    .description {
        width: auto;
    }

    .description h2 {
        font-size: 20px;
    }

    .description h2,
    .description p {
        margin: 0;
        width: auto;
    }

    .contact{
        grid-column: 1 / span 4;
        width: auto;
        margin: 40px 16px;
    }

    .contact form {
        margin: 40px 0 40px 0;
        width: 100%;
    }

    input, textarea, button {
        width: 100%;
        box-sizing: border-box;
    }

    button {
        padding: 12px 24px 8px 24px;
        margin-top: 16px;
    }

    footer {
        margin-top: 40px;
    }
}

@media (max-width: 500px) {
    body {
        margin: 24px;
    }

    section, .about, .contact{
        margin: 32px 0;
        gap: 16px;
    }

    header img {
        width: 100%;
    }

    section h1 {
        font-size: 20px;
    }

    .project {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .artwork {
        order: 1;
        width: 100%;
    }

    .description {
        order: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4px;
    }

    .description h2 {
        margin: 8px 0 0 0;
        text-align: center;
        width: 100%;
    }

    .description p {
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .about p{
        font-size: 14px;
        text-align: left;
        width: 100%;
    }

    .contact form {
        margin: 24px 0;
    }

    footer img{
        max-height: 32px;
    }
}